[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.0.0"
flask-cors = ">=3.0.2"
flask-compress = ">=1.4.0"
Flask-RESTful = ">=0.3.9"
sqlparse = ">=0.2.4"
mysql-connector-python = ">=8.0.6"
python-dotenv = "==0.20.0"
marshmallow-dataclass = ">=8.4.1,<8.5.0"
marshmallow = ">=3.13.0"
flask_jwt_extended = ">=4.4.4"
[dev-packages]

[requires]
python_version = "3.8"
